@page "/contato"

<PageTitle>Contato</PageTitle>

<section class="pagina-contato">

    <h1>Contato</h1>

    <p>
        Entre em contato comigo através das informações abaixo.
    </p>

    <p>
        Email: emanuelbatista642s@gmail.com
    </p>

    <p>
        Telefone: (69) 99996-6435
    </p>

    <p>
        Cidade: Presidente Médici - RO
    </p>

    <a href="/">Voltar para Home</a>

</section>