@page "/contato"

<PageTitle>Contato</PageTitle>

<section class="pagina-contato">

    <section class="banner-contato">
        <p class="subtitulo-contato">Contato do grupo</p>

        <h1 class="titulo-contato">
            Entre em contato
        </h1>

        <p class="texto-contato">
            Redes sociais, emails e formas de contato
            dos integrantes do projeto.
        </p>
    </section>

    <section class="grade-contato">

        <article class="card-contato">
            <h2>Emanuel</h2>

            <p>
                Entre em contato através das informações abaixo.
            </p>

            <p>
                Email: emanuelbatista642s@gmail.com
            </p>

            <p>
                Telefone: (69) 99996-6435
            </p>

            <p>
                Cidade: Presidente Médici - RO
            </p>
        </article>

        <article class="card-contato">
            <h2>João Guilherme</h2>

            <p>
                Instagram:
                <a href="https://www.instagram.com/joaoggo_/">
                    joaoggo_
                </a>
            </p>

            <p>
                GitHub:
                <a href="https://github.com/GGO-j">
                    github.com/GGO-j
                </a>
            </p>

            <p>
                Email:
                joaogguariento@gmail.com
            </p>
        </article>

    </section>

    <a class="botao-voltar" href="/">Voltar para Home</a>

</section>