@page "/curriculo"

<PageTitle>Curriculo</PageTitle>

<section class="pagina-curriculo">

    <h1>Meu Curriculo</h1>

    <p>
        Sou estudante da área de tecnologia
        e estou desenvolvendo conhecimentos
        em programação e desenvolvimento web.
    </p>

    <h2>Competências</h2>

    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Banco de Dados</li>
        <li>Figma</li>
    </ul>

    <h2>Objetivos</h2>

    <p>
        Buscar experiência profissional e
        continuar aprendendo novas tecnologias.
    </p>

    <a href="/">Voltar para Home</a>

</section>