@page "/historia"

<PageTitle>História</PageTitle>

<section class="pagina-historia">

    <h1>Minha História</h1>

    <p>
        Meu nome é Emanuel e sou estudante da área de tecnologia.
    </p>

    <p>
        Tenho interesse em programação, desenvolvimento web
        e banco de dados.
    </p>

    <p>
        Atualmente estou aprendendo HTML, CSS, Blazor
        e modelagem de sistemas através dos meus estudos
        e projetos escolares.
    </p>

    <p>
        Também gosto de criar interfaces no Figma e de fazer raiva
        e desenvolver páginas organizadas e funcionais.
        O homem mais bonito do Brasil
    </p>

    <p>
        Meu objetivo é continuar evoluindo como desenvolvedor
        e aprender novas tecnologias no futuro.
    </p>

    <a href="/">Voltar para Home</a>

</section>